legend {
    font-weight: bold;
    color: $dark;
}

fieldset {
    margin-bottom: 15px;
}

input, select {
    margin-top: $margin-normal; 
    padding: $padding-normal;
    width: 100%;
    height: 45px;
    padding: 5px;
    padding-left: 10px;
}

option {
    padding: $padding-normal;
}

input[type='radio'] {
    width: 15px;
    height: 15px;
    margin-top: 0;
    margin-right: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

label {
    margin-bottom: 10px;
}

.required, .optional, .required-example {
    display: flex;
    flex-direction: column;
    position: relative;
}

.required-example {
    font-style: italic;
    max-width: fit-content;
    margin-left: 15px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.required::after, .required-example::after  {
    color: $red;
    content: ' * ';
    position: absolute;
    right: 0;
    top: 10px;
}

.required-example::after {
    left: -15px;
    top: -5px;
}

.btn:disabled {
    opacity: 0.6;
}
