// form
.invalid {
    outline: 1px solid $red-invalid-color;
}

.valid {
    outline: 1px solid $green-valid-color;
}

.form__must-mark, .error-message {
    color: $red-invalid-color;
}

.error-message {
    margin: $standart-margin 0;
    margin-bottom: 0;
    // font-size: $small;
}

.success-sent {
    color: $green-valid-color;
    margin: auto;
    margin-top: $standart-margin;
}