// colors
$dark:rgb(11, 11, 72);
$medium:rgb(6, 6, 91);
$light:#f7f6fd;
$focus: blue;
$btn-color: #c9c9ec;
$btn-hover: #a8a8d9;
$btn-active: #9494c7;
$red: red;
$green: green;

// margin, padding
$margin-normal: 10px;
$padding-normal: 5px;

// font size
$small: 12px;
